* {
    box-sizing: border-box;
}

:root {
    --bg-color: #10375C;
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    height: 5000px;
    font-size: 1.6rem;
    font-family: Sora, sans-serif;
}

/* common */
.section-title {
    color: #10375C;
    font-size: 5.0rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    max-width: 40%;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

a {
    text-decoration: none;
}

.container {
    width: calc(100% - 48px);
    max-width: 1170px;
    margin: 0 auto;

}

.btn {
    display: inline-block;
    min-width: 205px;
    padding: 15px 20px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.6667;
}

.btn:hover {
    color: #C9D2DA;
    background-color: #276FB5;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
}

/* header */
.header {
    padding: 30px 0 12px;
    background: var(--bg-color);
}

.header--fixed {
    position: sticky;
    top: -18px;
    bottom: 0;
    z-index: 10;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    position: relative;
    user-select: none;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    margin-left: 0.3em;
    vertical-align: top;
    display: inline-block;
    text-align: right;
}

.logo__branch {
    display: block;
    color: #FFF;
    font-size: 1.8em;
    line-height: 0.98;
}

.logo__branch--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* header nav */
.navbar__list {
    display: flex;
    gap: 34px;
}

.navbar__item {
    position: relative;
}

.navbar__item--link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 4px 4px;
}

.navbar__link--active {
    color: #fff;
    text-shadow: 0 0 1px #fff;
}

.navbar__item--active::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -8px;
    top: 11px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
}

.header__btn {
    min-width: 104px;
    padding: 8px 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    transition: color background-color .3s ease;
}

.header__btn:first-child {
    padding: 8px 21px;
    background-color: transparent;
    color: #C9D2DA;
}

.header__btn:first-child:hover {
    color: #fff
}

@media(max-width: 1024px) {
    .navbar__list {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-cta {
        display: none;
    }

    .header__body {
        justify-content: center;
    }

    .logo {
        font-size: 1.1rem;
    }
}


/* hero */
.hero {
    margin-top: -1px;
    padding: 17px 0;
    background-color: var(--bg-color);
    height: calc(100vh - 85px);
}

.hero__body {
    display: flex;
}

.hero__info {
    width: 44.2%;
}

.hero__title {
    color: #FFF;
    font-size: 7.0rem;
    font-weight: 600;
    line-height: 1.143;
    letter-spacing: -1.4px;
    margin-top: 104px;
    margin-bottom: 22px;
}

.hero__desc {
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    margin-bottom: 38px;
}

.hero__contact {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
}

.hero__image {
    margin-top: 48px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    width: 50.61%;
    height: 540px;
}

.hero__img:last-child {
    margin-left: -6px;
    width: 32.2%;
    height: 410px;
}

@media(max-width: 1024px) {
    .hero__info {
        width: 100%;
        text-align: center;
    }

    .hero__image {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-cta {
        display: none;
    }

    .header__body {
        justify-content: center;
    }

    .logo {
        font-size: 1.1rem;
    }
}



/* service */
.service {
    padding: 170px 0;
}

.service__title {
    text-align: center;
    margin-bottom: 18px;
}

.service__desc {
    color: #575F66;
    text-align: center;
    margin: 0 auto 70px;
}

.service__content {
    display: flex;
    align-items: center;
}

.service__image {
    flex-grow: 1;
}

.service__img {
    width: 84.6%;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__info {
    flex: 0 1 42.35%;
}

.service__list {
    margin-bottom: 55px;
}

.service__item {
    display: flex;
    padding: 21px 22px;
    gap: 19px;
    border-radius: 10px;
    transition: all .3s ease;
}

.service__item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.service__item:hover .service__icon {
    background-color: #2E80CE;
    color: #fff;
}

.service__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #EFF6FD;
    transition: all .3s ease;
}


.service_name {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.service__text {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    display: block;
}

/* work */
.works {
    background: #F6FBFF;
    padding: 100px 0 84px;
}

.works__title {
    margin-bottom: 18px;
}

.works__desc {
    margin-bottom: 70px;
}

.works__list {
    display: grid;
    grid-template-columns: repeat(5, calc(33.3% - 20px));
    gap: 30px;
    border-radius: 4px;
    padding: 16px 0;
    overflow: hidden;
}

.works__item {
    display: flex;
    flex-direction: column;
    padding: 43px 42px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: border-color .3s ease, transform .3s ease;

}

.works__item:hover {
    border-color: #2E80CE;
    transform: translateY(-16px);
}

.work__icon {
    width: 72px;
    height: 72px;
    margin-bottom: 18px;
}

.work__icon * {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works__item-title {
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.39;
    margin-bottom: 28px;
}

.works__item-desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 18px;
}

.works__item-link {
    color: #2E80CE;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: auto;
}